@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 199.7 70.6% 53.4%;
    --primary-foreground: 210 40% 98%;
    --secondary: 248.4 100% 12.5%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 248.4 100% 12.5%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 248.4 100% 12.5%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 248.4 100% 12.5%;
    --primary: 248.4 100% 12.5%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 199.7 70.6% 53.4%;
    --secondary-foreground: 248.4 100% 12.5%;
    --muted: 199.7 70.6% 53.4%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 199.7 70.6% 53.4%;
    --accent-foreground: 248.4 100% 12.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 248.4 100% 12.5%;
    --border: 199.7 70.6% 53.4%;
    --input: 199.7 70.6% 53.4%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
  html {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}